@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes pulse-loop-data {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
